ProyectoSegundo2019/BackOfficeTramites/Service References/wcfTramite/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pc-gero/servTramites/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://pc-gero/servTramites/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" />
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogueoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documento" type="xs:int" />
        <xs:element minOccurs="0" name="contraseana" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogueoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="LogueoUsuarioResult" nillable="true" type="q3:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documento" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q4:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="BuscarUsuarioResult" nillable="true" type="q5:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usuario" nillable="true" type="q6:Usuario" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q7:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empleado" nillable="true" type="q8:Usuario" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empLog" nillable="true" type="q9:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empleado" nillable="true" type="q10:Usuario" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empLog" nillable="true" type="q11:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDocumentacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoInterno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDocumentacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="BuscarDocumentacionResult" nillable="true" type="q12:Documentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDocumentacionAux">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoInterno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarDocumentacionAuxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="BuscarDocumentacionAuxResult" nillable="true" type="q13:Documentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaDocumentacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="documentacion" nillable="true" type="q14:Documentacion" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empLog" nillable="true" type="q15:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaDocumentacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDocumentacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="documentacion" nillable="true" type="q16:Documentacion" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empLog" nillable="true" type="q17:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarDocumentacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaDocumentacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="documentacion" nillable="true" type="q18:Documentacion" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empLog" nillable="true" type="q19:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaDocumentacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoDocumentacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empLog" nillable="true" type="q20:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoDocumentacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="listadoDocumentacionResult" nillable="true" type="q21:ArrayOfDocumentacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="solicitud" nillable="true" type="q22:Solicitud" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empLog" nillable="true" type="q23:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaSolicitudResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q24:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="listadoSolicitudResult" nillable="true" type="q25:ArrayOfSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documento" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q26:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="BuscarSolicitudResult" nillable="true" type="q27:Solicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstadoSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solicitud" type="xs:int" />
        <xs:element minOccurs="0" name="accion" type="xs:int" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q28:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarEstadoSolicitudResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTramite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoTramite" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empLog" nillable="true" type="q29:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTramiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="BuscarTramiteResult" nillable="true" type="q30:Tramite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTramiteAux">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoTramite" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empLog" nillable="true" type="q31:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTramiteAuxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="BuscarTramiteAuxResult" nillable="true" type="q32:Tramite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaTramite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="tramite" nillable="true" type="q33:Tramite" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empLog" nillable="true" type="q34:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaTramiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarTramite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="tramite" nillable="true" type="q35:Tramite" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empLog" nillable="true" type="q36:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarTramiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaTramite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="tramite" nillable="true" type="q37:Tramite" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empLog" nillable="true" type="q38:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaTramiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTramites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTramitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="ListarTramitesResult" nillable="true" type="q39:ArrayOfTramite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoTramitesXml">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoTramitesXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listadoTramitesXmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaHoraExtra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="hemp" nillable="true" type="q40:EmpleadoHorasExtra" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="empLog" nillable="true" type="q41:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaHoraExtraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>