ProyectoSegundo2019/sitioTramites/App_WebReferences/wcfTramite/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="HoraFin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HoraInicio" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
  <xs:complexType name="Solicitante">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="Telefono" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Solicitante" nillable="true" type="tns:Solicitante" />
  <xs:complexType name="Documentacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoInterno" type="xs:int" />
      <xs:element minOccurs="0" name="Lugar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomDocumentacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Documentacion" nillable="true" type="tns:Documentacion" />
  <xs:complexType name="ArrayOfDocumentacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Documentacion" nillable="true" type="tns:Documentacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentacion" nillable="true" type="tns:ArrayOfDocumentacion" />
  <xs:complexType name="Solicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaHora" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="Solicitante" nillable="true" type="tns:Solicitante" />
      <xs:element minOccurs="0" name="Tramite" nillable="true" type="tns:Tramite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Solicitud" nillable="true" type="tns:Solicitud" />
  <xs:complexType name="Tramite">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoTramite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentacionExigida" nillable="true" type="tns:ArrayOfDocumentacion" />
      <xs:element minOccurs="0" name="NombreTramite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tramite" nillable="true" type="tns:Tramite" />
  <xs:complexType name="ArrayOfSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Solicitud" nillable="true" type="tns:Solicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitud" nillable="true" type="tns:ArrayOfSolicitud" />
  <xs:complexType name="ArrayOfTramite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tramite" nillable="true" type="tns:Tramite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTramite" nillable="true" type="tns:ArrayOfTramite" />
  <xs:complexType name="EmpleadoHorasExtra">
    <xs:sequence>
      <xs:element minOccurs="0" name="Empleado" nillable="true" type="tns:Empleado" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MinutosExtra" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpleadoHorasExtra" nillable="true" type="tns:EmpleadoHorasExtra" />
</xs:schema>